body{
	background: rgb(221, 221, 229);
}

header{
	height: 80px;
	background: yellow;
}

section{
	height: 120px;
	background: gray;
}

.titulo{
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 25px;
	padding: 2em;
}

footer{
	height: 80px;
	background: rgb(93, 93, 94);
}